body{
    font-family: "Montserrat";
    font-weight:lighter;
}
#title{
    background-color:  #c94c4c;
    color: #fff;
}
.container-fluid{
    padding: 3% 15% 7%;
}
h1{
    font-family: 'Montserrat', sans-serif;
    /* font-weight: bolder; */
    line-height: 1.5;
    font-size: 3.5rem;
}
/* navigation bar */
.navbar{
    padding-bottom: 4.5rem;
}

.navbar-brand{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.5rem;
    font-weight: bold;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2rem;
    font-weight: lighter;
}

.download{
    margin: 5% 3% 5% 0;
}
.hehe{
    width: 20%;
    transform: rotate(25deg);
    position: absolute;
    right: 20%;

}
.hiii{
    padding: 10% 8%;
    
}
#features{
    background-color: #fff;
    position: relative;
}
#features p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
}
.box{
    text-align: center;
}
.item{
    color: #ef9172;
    margin-bottom: 1rem;
}
.item:hover{
    color: #c94c4c;
   
}
#testimonials{
    text-align: center;
  
    background-color: #c94c4c;
}

.fuck{
    width: 20%;
    border-radius: 100%;
    margin: 20px;
}
.tere{
    font-size: 20px;

}
.testimonial-text,em{
    color: #fff;
    line-height: 1.5;
    font-size: 2.5rem;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
}
#press{
    background-color: #c94c4c;
    padding-bottom: 3%;
    text-align: center;
}
.maa{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-item{
    padding: 7% 15%;
}
#pricing{
    text-align: center;
    padding: 100px;
}
.koota{
    padding: 3% 2%;
}
@media (max-width : 992px){
    #title{
        text-align: center;
    }
    .hehe{
        width: 30%;
        position: static;
        transform: rotate(0);
    }
}
#cta{
    text-align: center;
    height: 350px;
    background-color: #c94c4c;
    padding: 7% 15%;
}
.cta-text{
    line-height: 1.5;
    font-size: 2.5rem;
    margin-bottom: 2px;
}
#footer{
    padding: 7% 15%;
    text-align: center;
}
.social-icon {
    margin: 20px 10px;
}